@model Treino
@{
    ViewData["Title"] = "Ficha";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    var AgrupamentoDeHojeIndex = ViewBag.AgrupamentoDeHojeIndex;
}

@if (Model == null) {
    <div class="col-lg-6">
        <div class="card card-body">
            <h5 class="card-title">Nenhum treino encontrado para você!</h5>
            <p class="card-text">
                Não encontramos nenhum treino ativo para sua conta, por favor, verifique com seu professor. 
            </p>
            <p class="card-text">
                Possíveis causas: Seu último treino chegou à data final, o professor o desabilitou, ou nenhum treino foi cadastrado para sua conta ainda.
            </p>
            <a asp-controller="Home" asp-action="Index" asp-area="Aluno" class="btn btn-primary waves-effect waves-light">Voltar à tela inicial</a>
        </div>
    </div>
} else {


    <div class="col-12">
        <div class="card-box">
            <div class="clearfix">
                <div class="float-left">
                    <img src="~/assets/images/logo-dark.png" alt="Logo da Academia" height="36">
                </div>
                <div class="float-right">
                    <h4 class="m-0">Ficha de Exercícios</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mt-3 float-md-left">
                        <p><strong>Nome:</strong> <span>@Model.Aluno.Nome</span></p>
                        <p><strong>Professor: </strong> <span>@Model.Professor.Nome </span></p>
                        <p><strong>Objetivo: </strong> <span>@Model.Objetivo</span> - <strong>Agrupamento: </strong> <span>@Model.Agrupamentos[AgrupamentoDeHojeIndex].Descricao</span></p>
                        <p><strong>Data de Início: </strong> <span>@Model.DataInicio.ToShortDateString()</span> - <strong>Data Final: </strong> <span>@Model.DataFim.ToShortDateString()</span></p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table mt-4 table-centered" id="tblFichaExercicios">
                            <thead>
                                <tr>
                                    <th>Exercicio</th>
                                    <th style="width: 10%">Séries</th>
                                    <th style="width: 10%">Repetições</th>
                                    <th style="width: 10%" class="d-print-none">Carga</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var exercicio in @Model.Agrupamentos[AgrupamentoDeHojeIndex].Exercicios) {
                                    <tr class="exercicio">
                                        <td id="Exercicio_Id" hidden>@exercicio.Id</td>
                                        <td>@exercicio.TipoExercicio.Nome</td>
                                        <td>@exercicio.Serie</td>
                                        <td>@exercicio.Repeticao</td>
                                        <td class="d-print-none">
                                            <input name="Exercicio_Quantidade" id="Exercicio_Quantidade" class="form-control" />
                                            <span class="text-danger"></span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="clearfix p-1">
                        <h6 class="text-muted">Atenção:</h6>

                        <small class="text-muted">
                            Após a utilização de barras, anilhas e halteres, favor recolocá-los em seus
                            devidos lugares.
                        </small><br>

                        <small class="text-muted">
                            Utilize de forma adequada os equipamentos, seguindo as orientações do
                            professor da academia, sob pena de responder por quaisquer danos que venha ocasionar por má utilização.
                        </small>
                    </div>
                </div>
            </div>

            <div class="mt-4 mb-1">
                <div class="text-right d-print-none">
                    <a asp-action="Index" class="btn btn-light waves-effect waves-light"><i class="mdi mdi-arrow-left-thick mr-1"></i>Voltar</a>
                    <a href="javascript:window.print()" class="btn btn-primary waves-effect waves-light"><i class="mdi mdi-printer mr-1"></i>Imprimir</a>
                    <button type="button" id="btnSalvarHistorico" class="btn btn-info waves-effect waves-light"><i class="mdi mdi-check mr-1"></i>Marcar como concluído</button>
                </div>
            </div>
        </div>
    </div>
}